body {
  background-color: var(--color-grey-4);

  color: var(--color-white);
}

.main__home {
  width: 95%;
  margin: 0 auto;
}

.main__home > .container {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 84px;
}

.home__sectionLeft {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 340px;
}

.home__sectionLeft > img {
  width: 122px;
}

.home__sectionLeft > button {
  padding: 14px 97px;
}

@media screen and (min-width: 426px) {
  .main__home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  .main__home > .container {
    flex-direction: row;
    align-items: center;
  }
  .home__sectionLeft > button {
    max-width: 240px;
  }
}
